/* 기본 스타일 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff; /* 페이지 배경색 */
    margin: 0;
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 수직 방향 정렬 */
    height: 100vh; /* 전체 화면 높이 */
}

.wrapper {
    display: flex; /* 플렉스 박스 사용 */
    flex: 1; /* 남은 공간 차지 */
    width: 100%; /* 전체 너비 사용 */
    max-width: 1320px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}

.container {
    display: flex; /* 플렉스 레이아웃 사용 */
    padding: 0 !important;
}

.sidebar {
    background-color: #EDF6F9; /* 사이드바 배경색 */
    width: 200px; /* 사이드바 너비 */
    padding: 20px;
    height: calc(100vh - 100px); /* 헤더를 제외한 전체 높이 사용 */
    justify-content: flex-start;
}

.sidebar ul {
    list-style-type: none; /* 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 */
}

.sidebar li {
    margin-bottom: 15px; /* 항목 간 여백 */
}

.sidebar a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: #006D77; /* 링크 색상 */
}

/* 콘텐츠 영역 스타일 */
.content {
    flex: 1; /* 남은 공간 차지 */
    background-color: #ffffff; /* 콘텐츠 배경색 */
    padding: 40px; /* 패딩 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    height: calc(100vh - 100px); /* 헤더를 제외한 전체 높이 사용 */
}

/* 콘텐츠 영역 스타일 */
.content {
    flex: 1; /* 남은 공간 차지 */
    background-color: #ffffff; /* 콘텐츠 배경색 */
    padding: 40px; /* 패딩 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    height: calc(100vh - 100px); /* 헤더를 제외한 전체 높이 사용 */
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 수직 방향 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
}

/* 제목 스타일 추가 */
.content h2 {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.board {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination {
    margin-top: 10px;
}

/* 서치 폼 */
.search-form {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 750px;
    height: 45px;
    border: 3px solid #83C5BE;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 3px;
  }
  
  .search-form input[type="text"] {
    width: 90%;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
  }
  
  .search-form input[type="text"]:focus {
    outline: none;
  }
  
  .search-form button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #006D77;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
  }

/* 테이블 css*/
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table th {
    background-color: #83C5BE;
}

table th,
table td {
    height: 35px;
    border: 2px solid #83C5BE;
    text-align: center;
    word-wrap: break-word;
}

table th {
    font-size: 14px;
}

table td {
    font-size: 12px;
}


/* 푸터 스타일 */
footer {
    width: 100%; /* 전체 너비 사용 */
    background-color: #EDF6F9; /* 푸터 배경색 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

@media (min-width: 721px) {
    /* 이 영역은 721px 이상 화면에 대한 스타일입니다. */
}

@media (min-width: 481px) and (max-width: 720px) {
    /* 검색 텍스트 부분 */
    .search-section .search-form {
        width: 65%;
    }

    /* '등록일' 열 숨기기 (3번째 열) */
    .board tr td:nth-child(3) {
        display: none;
    }
}

@media (max-width: 480px) {
    .search-section .search-form{
        width: 100%;
    }

    .board tr :nth-child(1) {
        display: none;
    }

    .board tr :nth-child(3) {
        display: none;
    }

    .board tr :nth-child(4) {
        display: none;
    }
}