.message-section {
    width: 100%;
}

.loading-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-alert{
    align-items: center;
    margin: 10px 0;
    padding: 3px 5px;
    border-radius: 15px;
    background-color: #EDF6F9;
}

.loading-section .spinner-border{
    width:20px;
    height:20px;
    margin-right: 5px;
    color: #006D77;
}