/* 기본 스타일 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 450px;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.hr {
    border: solid 1px #83c5be;
    width: 100%;
    margin: 20px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #83c5be;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #EDF6F9;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
    box-shadow: 0px 0px 0px 3px #ccf0ec;
}

.next-button {
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #006d77;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-primary:hover {
    background-color: #004f5d;
    opacity: 0.9;
}

.btn-primary:focus {
    background-color: #004f5d;
    box-shadow: 0px 0px 0px 5px #ccf0ec;
    opacity: 0.9;
}

/* 미디어 쿼리 */
@media (max-width: 720px) {
    .wrapper {
        padding: 20px 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    .description {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"] {
        padding: 10px;
        font-size: 14px;
    }

    .next-button button {
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 15px 20px;
    }

    h2 {
        font-size: 20px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"] {
        padding: 8px;
        font-size: 12px;
    }

    .next-button button {
        font-size: 14px;
        padding: 8px;
    }
}