#middle-view {
    width: 100%;
    display: flex;
    gap: 1.25rem;
}

.left-view > div, .right-view > div {
    margin-top: 10px;
}

#calendar {
    max-width: 100%;
    border: 1px solid #83C5BE;
    border-radius: 30px;
}

#calendar > img {
    width: 100%;
    border: 1px solid #83C5BE;
    border-radius: 30px;
}


#today-job {
    display: flex;
    gap: 5px;
    background-color: #EDF6F9;
    border: #83C5BE 1px solid;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
}




#job-list {
    display: flex;
    gap: 5px;
    position: relative;
    background-color: #EDF6F9;
    border: #83C5BE 1px solid;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
    margin-bottom: 10px;
}

#job-list > button {
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
}

#job-list > button > img {
    width: 30px
}










#selectbox1 {
    width: fit-content;
}

.button-select > div {
    max-width: fit-content;
    margin-left: 10px;
}

.button-select > img {
    margin-right: 10px;
}

.button-select {
    padding: 0px;
    height: 40px;
}

.custom-select {
    width: 100%;
}



@media (min-width: 721px){
    .left-view{
        width: 70%;
    }
    
    .right-view{
        width: 30%;
    }

    #certiSelect {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .left-view{
        width: 100%;
    }
    
    .right-view{
        width: 100%;
    }

    #category-btn{
        display: none;
    }

    #middle-view {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .left-view{
        width: 100%;
    }
    
    .right-view{
        width: 100%;
    }

    #category-btn{
        display: none;
    }

    #middle-view {
        flex-direction: column;
    }

    #date-set, #repeat-date-set{
        flex-direction: column;
    }
}







#date-set {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#setting-grid-stuff {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;
}

#setting-grid-stuff * {
    margin: auto;
}

#repeat-date-set {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.button-select{
    max-width: 190px;
}


.modal-body{
    
    flex-direction: column;
    gap: 50px;
    display: flex;

}




.display-none {
    display: none !important;
}