.btn-outline-primary {
    color: black !important;   
    border-color: #006D77 !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 5px 5px 0px 0px !important;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active  {
    color: white !important;
    background-color: #006D77 !important;
    border-color: #006D77 !important;
    box-shadow: none !important;
}

.btn-outline-primary:hover {
    background-color: white !important;

}