.btn-outline-primary {
    color: black !important;   
    border-color: #006D77 !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 5px 5px 0px 0px !important;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active  {
    color: white !important;
    background-color: #006D77 !important;
    border-color: #006D77 !important;
    box-shadow: none !important;
}

.btn-outline-primary:hover {
    background-color: white !important;

}

.navbar-toggler-icon > img {
    width: 30px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

#member-name {
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    /* background-color: #EDF6F9; */
}

#certiSelect {
    border-radius: 20px;
}

.nav-item:hover {
    background-color: #EDF6F9;
    color: black !important;
}

.nav-link {
    text-align: center;
}

.nav-link:hover {
    color: black !important;
}


#testdiv {
    width: fit-content;
    display: flex;
    border-bottom: #006D77 1px solid;
    padding-bottom: 15px;
    
}

#testdiv:hover {
    cursor: pointer;
}
















@media (min-width: 721px){
    #certiSelect {
        display: none;
    }
}