#middle-view {
    width: 100%;
    display: flex;
    gap: 1.25rem;
}

.left-view > div, .right-view > div {
    margin-top: 10px;
}

#today-job-list, #notToday-job-list {
    display: flex;
    gap: 10px;
    position: relative;
    background-color: #EDF6F9;
    border: #83C5BE 1px solid;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
    margin-bottom: 10px;
}

#today-job-div-list, #notToday-job-div-list{
    display: flex;
    gap: 10px;
    position: relative;
    padding: 5px;
    flex-direction: column;
    margin-bottom: 10px;
}



#notToday-job-list > button {
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
}

#notToday-job-list > button > img {
    width: 30px
}










#selectbox1 {
    width: fit-content;
}

.button-select > div {
    max-width: fit-content;
    margin-left: 10px;
}

.button-select > img {
    margin-right: 10px;
}

.button-select {
    padding: 0px;
    height: 40px;
}

.custom-select {
    width: 100%;
}



@media (min-width: 721px){
    .left-view{
        width: 70%;
    }
    
    .right-view{
        width: 30%;
    }

    #certiSelect {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .left-view{
        width: 100%;
    }
    
    .right-view{
        width: 100%;
    }

    #category-btn{
        display: none;
    }

    #middle-view {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .left-view{
        width: 100%;
    }
    
    .right-view{
        width: 100%;
    }

    #category-btn{
        display: none;
    }

    #middle-view {
        flex-direction: column;
    }

    #date-set, #repeat-date-set{
        flex-direction: column;
    }
}







#date-set {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#setting-grid-stuff {
    /* display: grid; */
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;
}

#setting-grid-stuff * {
    margin: auto;
}

#repeat-date-set {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.button-select{
    max-width: 190px;
}


.modal-body{
    color: black;
    flex-direction: column;
    gap: 50px;
    display: flex;

}




.display-none {
    display: none !important;
}



.custom-event {
    background-color: var(--event-bg-color, #ffffff);
    color: var(--event-text-color, #000000);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-job{
    min-width: fit-content;
    max-height: fit-content;
    padding: 0 10px;
    background-color: #83C5BE;
    color: black;
    border-radius: 5px;
    border: none;
}

.job-detail > div {
    display: flex;
    justify-content: space-between;
}

#titleInputArea > input {
    width: 100%;
    text-align: center;
}

#titleInputArea {
    margin: 0 30px;
}

#setting-grid-stuff, #repeat-count-input, #repeat-date-set{
    display: none;
}