#middle-view {
    width: 100%;
    display: flex;
    gap: 1.25rem;
}

.left-view > div, .right-view > div {
    margin-top: 10px;
}



#profile{
    padding-bottom: 20px;
    max-width: 200px;
    max-height: 200px;
}

.file{
    display:none;
}










#selectbox1 {
    width: fit-content;
}

.button-select > div {
    max-width: fit-content;
    margin-left: 10px;
}

.button-select > img {
    margin-right: 10px;
}

.button-select {
    padding: 0px;
    height: 40px;
}

.custom-select {
    width: 100%;
}


#certi-select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#certi-select > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#upload-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.bottom-view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 721px){
    .left-view{
        width: 50%;
    }
    
    .right-view{
        width: 50%;
    }

    #certiSelect {
        display: none;
    }

    #profile{
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .left-view{
        width: 100%;
    }
    
    .right-view{
        width: 100%;
    }

    #category-btn{
        display: none;
    }

    #middle-view {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .left-view{
        width: 100%;
    }
    
    .right-view{
        width: 100%;
    }

    #category-btn{
        display: none;
    }

    #middle-view {
        flex-direction: column;
    }

    #profile{
        width: 250px;
        height: 250px;
    }
}



.bottom-view {
    margin: 10px;
    display: flex;
    gap: 10px;
}

.bottom-view > div:nth-child(1) {
    background-color: #EDF6F9;
}

.bottom-view > div:nth-child(1) {
    background-color: #006D77;
    color: white;
}

.bottom-view > div:nth-child(1) > button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background: none;
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    padding: 0px;
    font-size: 24px !important;
}

.bottom-view > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


#upload-btn {
    width: 100px;
    height: 30px;
    background-color: #006D77;
    border: none;
    border-radius: 5px;
    color: white;
}