.menu {
    z-index: 1000;
}

footer {
    z-index: -1000;
}

.item-list {
    z-index: 1000;
}

.navbar-brand, .nav-link{ /* 네비바 현재게시판 */
    margin-left: 10px;
    color: black !important;
}

.navbar-brand:hover, .nav-link:hover{ /* 네비바 현재게시판 */
    color: #006D77;
    cursor: pointer;
}

#certiSelect{           /* 상단 게시판 이름 표시 및 게시판 변경 */
    background-color: #83C5BE;
}

#certiSelect * {
    font-size: 32px;
}

#middle-area {          /* 중간 게시판 컨텐츠들 */
    width: 100%;
    display: flex;
}
#middle-area > div {
    margin: 1.25rem;
}
/*
#listArea {              글 리스트들 
    width: 70%;
}
*/

/* #listArea * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

#listArea > div > div {
    display: flex;
}

#detail-area > div:nth-child(1){
    border-width: 1px 0px !important;
    border: solid black;
    background-color: #EDF6F9;
    padding: 3px 5px;
}

#detail-area > div:nth-child(1) > div {
    display: flex;
}

#detail-area > div:nth-child(1) > div > p:nth-child(1){
    min-width: fit-content;
}

#detail-area > div:nth-child(2) > div > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



#detail-area > div:nth-child(2){
    border-width: 0px 0px 1px 0px !important;
    border: solid black;
    padding: 3px 5px;
}

#detail-area > div:nth-child(3){
    min-height: 5rem;
    padding: 10px;
}

#detail-area > div:nth-child(4){
    padding-bottom: 20px !important;
}

#replys{
    border-bottom: 1px solid #AEAEAE;
    border-top: 1px solid #AEAEAE;
    flex-direction: column;
}

.reply { /* 댓글 하나 속성 */
    width: 100%;
    padding: 20px 10px;
    /* padding-bottom: 20px !important;
    padding-top: 20px; */
    display: flex;
    flex-direction: row !important;
    gap: 10px;
}

.reply > img {
    width: 100px;
    height: 100px;
}

.reply button {
    background: none;
    border: none;
}

.reply div div {
    gap: 5px;
}

.reply > div {
    max-width: 100%;
    min-width: 0;
}

#reply_nick{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#detail-area > div:nth-child(1) > div:nth-child(2){
    gap: 5px;
}

#detail-area > div:nth-child(1) > div:nth-child(2) button {
    width: 78px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    color: #ffffff;
    padding-right: 5px;
}

#detail-area > div:nth-child(1) > div:nth-child(2) button:nth-child(1){
    background-color: #E29578;
}

#detail-area > div:nth-child(1) > div:nth-child(2) button:nth-child(2){
    background-color: #006D77;
}

#detail-area > div:nth-child(1) > div:nth-child(2) button img{
    width: 26px;
    height: 26px;
}


#search-area {
    overflow: visible;
}


#search-area * {
    overflow: visible !important;
}


#search-area div:nth-child(2) {         /* 검색창 전체 */
    background-color: #ffffff;
    border: #83C5BE 3px solid;
    border-radius: 40px;
}


#selectbox2 > button {
    border: none;
}



.rounded-circle{
    height: 34px;
    width: 34px;
    border: none;
    background-color: #83C5BE;
}

.rounded-circle img {
    min-width: 34px;
    max-width: 34px;
}

#search-area > :nth-child(3){
    min-width: 135px;
    height: 40px;
    background-color: #484848;
    color: white;
    border: none;
    border-radius: 10px;
}


#popular-list-div {     /* 인기글 리스트 */
    width: 250px;
    min-width: 250px;
    
}

#popular-list-div *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#popular-list-div > div > div{
    background-color: #EDF6F9;
    border: #83C5BE 1px solid;
    width: 100%;
    padding: 10px;
}

#popular-list-area-all {
    background-color: #EDF6F9;
    border: #83C5BE 1px solid;
    width: 100%;
}

.sticky-element {
    position: sticky;
    top: 20px; 
    transition: top 0.3s; /* 부드러운 애니메이션 */
}

#popular-list-area-all > div, #popular-list-area-this > div{
    display: flex;
}

#popular-list-area-all > div > span:nth-of-type(1), #popular-list-area-this > div > span:nth-of-type(1){
    width: 170px;
    max-width: 170px;
}

#popular-list-area-all > div > span:nth-of-type(2), #popular-list-area-all > div > span:nth-of-type(3), #popular-list-area-this > div > span:nth-of-type(2), #popular-list-area-this > div > span:nth-of-type(3){
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

#search-area div:nth-child(2) select:focus, #search-area select:focus{  /* focus 시 외부라인 나타나는거 제거 */
    outline: none;
}

#search-area{ /* 검색/글쓰기 구역 */
    display: flex;
    justify-content: space-around;
    height: 40px;
    
}

#detail-area > div:nth-child(1), #detail-area > div:nth-child(2){     /* 글 구역 */
    display: flex;
    justify-content: space-between;
}





#detail-area > div:nth-child(4) {         /* 좋/싫/신고 버튼 div */
    display: flex;
    align-items: center;
    justify-content: space-between; /* 신고 버튼은 오른쪽, 나머지는 중앙 */
    padding: 0 20px; /* 양쪽에 여백 추가 */
}

#detail-area > div:nth-child(4) > div {       /* 좋/싫 버튼 div */
    display: flex;
    gap: 10px; /* 버튼 사이 간격 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding-left: 60px;                 /* 신고버튼으로 인한 좌측쏠림 해결 */
}

#detail-area > div:nth-child(4) > div > button{       /* 버튼 */
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

#detail-area > div:nth-child(4) > button{   /*신고*/
    min-width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: #E29578;
    border: none;
}

#detail-area > div:nth-child(4) > div > button:nth-child(1){       /* 좋 버튼 */
    background-color: #EDF6F9;
    color: #83C5BE;
    border: 1px solid #83C5BE;
    border-radius: 5px;
}

#detail-area > div:nth-child(4) > div > button:nth-child(2){       /* 싫 버튼 */
    background-color: #ffddd2;
    color: #E29578;
    border: 1px solid #E29578;
    border-radius: 5px;
}

#detail-area > div:nth-child(5) > div > div {     /* 댓글 area */
    display: flex;
    justify-content: left;
    flex-direction: column;
}

#detail-area > div:nth-child(6) {         /* 댓글 페이지 변경 (아래쪽 123 버튼) */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.reply-write {      /* 댓글 작성 area */
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    gap: 10px;
    border: #006D77 1px solid;
    background-color: #EDF6F9;
    border-radius: 5px;
    width: 100%;
}

.focused {
    display: flex !important;
}

.reply-write > textarea {
    width: 100%;
    padding: 10px;
    height: 100px;
    text-align: start;
    resize: none;
    background: none;
    
}

.reply-write > textarea:focus {
    outline: none;
}

.reply-write > button {
    width: 130px;
    height: 40px;
    margin-left: auto;
    display: none;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.reply-write > button > span{
    margin-right: 10px;
}

.reply-write > button > img{
    width: 20px;
}


.pagination {
    justify-content: center;
    margin: 5px 0;
}



@media (min-width: 901px) {
    .listArea-div2{
        display: none;
    }

    #listArea{
        max-width: calc(100% - 330px) !important;
    }
}

@media (min-width: 721px) and (max-width: 900px){
    #popular-list-div {     /* 인기글 리스트 */
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    #popular-list-div {     /* 인기글 리스트 */
        display: none;
    }
    #nick-profile-like-div{
        display: grid !important;
        justify-content: left !important;
        grid-template-areas:
            "a b"
            "c c";
            height: auto;
            grid-template-columns: minmax(auto, auto) minmax(auto, 100%);
        
    }
    #nickNameP{
        grid-area: a;
    }
    #profile_img{
        grid-area: b;
        margin-right: auto;
    }
    #likehatereplyviewdateCountP{
        grid-area: c;
        min-width: 0 !important;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    }
}

@media (max-width: 480px) {
    #popular-list-div {     /* 인기글 리스트 */
        display: none;
    }
    #nick-profile-like-div{
        display: grid !important;
        justify-content: left !important;
        grid-template-areas:
            "a b"
            "c c";
            height: auto;
            grid-template-columns: minmax(auto, auto) minmax(auto, 100%);
    }
    #nickNameP{
        grid-area: a;
    }
    #profile_img{
        grid-area: b;
    }
    #likehatereplyviewdateCountP{
        grid-area: c;
        min-width: 0 !important;
        max-width: 100%;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}


@media (max-width: 690px) {
    #search-area {
        display: grid;
        grid-template-areas:
            "a c"
            "b b";
        grid-gap: 10px; /* 요소 간의 간격 */
        height: auto;
        grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    }

    #search-area > :nth-child(1) {
        grid-area: a;
        max-height: 40px;
    }

    #search-area > :nth-child(2) {
        grid-area: b;
        max-height: 40px;
        justify-content: space-between;
    }

    #search-area > :nth-child(2) input {
        width: auto;
    }

    #search-area > :nth-child(3) {
        grid-area: c;
        max-height: 40px;
        max-width: 130px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: auto;
    }

}


.rounded-circle img {
    min-width: 34px;
    max-width: 34px;
}


#search-input{
    min-width: 0px;
}

#search-input-text {
    min-width: 0px;
    padding: 0px 10px;
    text-align: left;
}




.navbar-toggler-icon > img {
    width: 30px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.nav-item:hover {
    color: black !important;
}

.nav-link:hover {
    color: black !important;
}



.scroll-container {
    overflow: hidden;
    cursor: grab; /* 손 모양의 커서 */
    width: 100%; /* 스크롤 영역의 너비를 조정하세요 */
  }
  
  .scroll-content {
    border-bottom: none;
    display: flex;
    width: max-content; /* 콘텐츠 길이에 맞게 폭을 자동 조정 */
  }
  
  .item2 {
    width: fit-content;
    padding: 0px;
    /* flex: 0 0 auto;
    width: 100px;
    margin: 0 10px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
    box-sizing: border-box; */
  }









  .btn-outline-primary {
    color: black !important;   
    border: none !important;
    border-radius: 5px 5px 0px 0px !important;
}



.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    background-color: white !important;
}

.btn-check:checked+.btn-outline-primary {
    color: white !important;
    background-color: #006D77 !important;
    border-color: #006D77 !important;
    box-shadow: none !important;
}

.btn-outline-primary:hover {
    background-color: white !important;

}

.nav-link{
    color: black !important;
}


#nick-profile-like-div{
    display: flex;
    align-items: center;
}

#nickNameP{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}

#nickNameP:hover, #reply_nick:hover{
    cursor: pointer;
}

#profile_img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: auto;
}

#likehatereplyviewdateCountP{
    min-width: fit-content;
}




.selected {
    border-width: 3px !important;
    font-weight: bold !important;
}





.reply-write-active {
    display: block !important;
}

#boardContentP img{
    max-width: 100%;
}


.btn-outline-primary:hover {
    background-color: white !important;

}

.popular-div:hover {
    background-color: #006D77;
    color: white;
    cursor: pointer;
}




.child-reply {
    max-width: 100%;
    margin-left: 30px;
}







.report-choose-area{
    border-radius: 5px;
    padding:10px;
    margin-bottom:20px;
}

.report-choose-area label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
}

.report-choose-area input[type=radio]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.report-choose-area .custom-check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #7a7a7a;  /* 체크박스 테두리 색상 */
    border-radius: 3px;  /* 모서리를 살짝 둥글게 */
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s;
}

/* 선택 시 체크박스 모양 변경 */
.report-choose-area input[type="radio"]:checked + .custom-check {
    background-color: #006D77;  /* 선택된 체크박스 배경색 */
}

.custom-check::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* 선택된 경우 체크 아이콘 표시 */
.report-choose-area  input[type="radio"]:checked + .custom-check::after {
    display: block;
}

#modal-body textarea[name=reportReason]{
    resize:none;
    padding:5px;
    width:100%;
    background-color: #D9D9D9;
}

#modal-body textarea[name=reportReason]:focus{
    outline: none;
}

#report-submit-button{
    background-color: #E29578;
    color: black;
}