#middle-area > div:nth-child(1) {
    width: 100%;
}

.note-editable img{
    max-width: 100%;
}

.btn-outline-primary:hover {
    background-color: white !important;

}

.popular-div:hover {
    background-color: #006D77;
    color: white;
    cursor: pointer;
}