@charset "utf-8";
html, body, div, p, span, strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6,
img, dl, dt, dd,
fieldset, form, legend, label,
table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea {margin: 0;padding: 0; border: 0 none; }

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

ul, ol, li {list-style: none;}
em, address {font-style: normal;}
img {border: 0 none; font-size: 0;line-height: 0;}
sup {position: relative;top: 2px;font-size: 11px;line-height: 100%;}

table {border-collapse: collapse; border-spacing:0; }
caption {overflow: hidden;width: 0;height: 0;font-size: 0; line-height: 0;}
th, td { vertical-align: middle;/* white-space: nowrap */}

a {color: inherit; /* 부모 요소 색깔을 따르도록 설정 */ text-decoration-line: none; line-height: 1;}
a:hover, a:focus, a:active {text-decoration: none;}
a:visited {color: #333;}
*, html {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 0px; margin: 0px; }
*, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

.wrapper{
    max-width: 1250px;
    margin:0 auto;
}

.padding{
    padding:0 1.25rem;
}

/* 폰트 크기 */
.font-size-title{
    font-size: 32px;
}

.font-size-subtitle{
    font-size: 24px;
}

.font-size-content{
    font-size: 16px;
}

.font-size-footer{
    font-size:12px;
}

/* 배경색 */
.bgcolor1{
    background-color: #006D77;
}

.bgcolor2{
    background-color: #83C5BE;
}

.bgcolor3{
    background-color: #EDF6F9;
}

.bgcolor4{
    background-color: #FFDDD2;
}

.bgcolor5{
    background-color: #E29578;
}

/* 페이지 제목 */
.page-title{
    padding:20px 0;
}


/* 게시판 목록 css */
/*
#listArea : 커뮤 글 리스트 전체를 감싸는 div

.listArea-div1 : 넓은화면에서 나오는 길쭉한 글 리스트 div (길쭉이)

.listArea-div2 : 좁은화면에서 나오는 짧은 글 리스트 div (짧뚝이)




.listArea-noti : 공지사항 div ( 배경색만 변함 )

.listArea-div1-info : 상단 탭 설명 div ( 길쭉이 한정 권장 짧뚝이 해도 별일없긴함 ) ( 배경색만 변함 )




.listArea-div1-~~~ : 길쭉이 리스트 css

.listArea-div2-~~~ : 짧뚝이 리스트 css


~~~ 에 들어가는 목록
tab : 탭 이름 들어가는 div

title : 제목 들어가는 div

replyCount : 댓글 갯수 div

writter : 작성자 div

date : 작성일 div

viewCount : 조회수 div

dogchu : 개추 카운트 div




!!!주의!!!

div1과 div2의 구조가 다름

순서 맞추는거 권장

요소들 지워도 작동 
그러나 <div class="listArea-div2-rightStuff"> 는 지우지 말 것


>>> 기본 틀 
<div id="listArea">
    <div class="listArea-div1">
        <div ( 여기에 .listArea-noti, .listArea-div1-info 삽입 )>
            <div>
                <div class="listArea-div1-tab">
                    탭
                </div>
                <div class="listArea-div1-title">
                    제목
                </div>
                <div class="listArea-div1-replyCount">
                    [댓글숫자]
                </div>
            </div>
            <div>
                <div class="listArea-div1-writter">
                    작성자
                </div>
                <div class="listArea-div1-date">
                    작성일
                </div>
                <div class="listArea-div1-viewCount">
                    조회수
                </div>
                <div class="listArea-div1-dogchu">
                    추천수
                </div>
            </div>
        </div>
    </div>
    <div class="listArea-div2">
        <div ( 여기에 .listArea-noti 삽입, .listArea-div1-info 권장하지 않음 근데 별일없음 )>
            <div>
                <div class="listArea-div2-tab">
                    공지
                </div>
                <div class="listArea-div2-title">
                    왜 안되는지는 저도 잘 모릅니다. 하하하.
                </div>
                <div class="listArea-div2-replyCount">
                    [0]
                </div>
            </div>
        <div>
            <div class="listArea-div2-writter">
                윤대한
            </div>
            <div class="listArea-div2-rightStuff">
                <div class="listArea-div2-date">
                    18:10
                </div>
                | 
                <div class="listArea-div2-viewCount">
                    조회수 5
                </div>
                | 
                <div class="listArea-div2-dogchu">
                    추천수 0
                </div>
            </div>
        </div>
    </div>
</div>

*/
#listArea {
    /* 글 리스트들 */
    margin: 20px;
    width: 100%;
}

#listArea table {
    width: 100%;
}

.listArea-div2 *,
.listArea-div1 * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.listArea-noti {
    background-color: #EDF6F9;
}

.listArea-div2>div,
.listArea-div1>div {
    padding: 0px 0px 5px 0px;
}


.listArea-div1>div {
    display: flex;
    justify-content: space-between;
    border-bottom: #AEAEAE 1px solid;
}

.listArea-div1-info {
    background-color: #83C5BE;
}

.listArea-div1>div>div:nth-of-type(1) {
    width: calc(100% - 290px);
    margin: auto;
    margin-left: 0;
    display: flex;
}

.listArea-div1>div>div:nth-of-type(2) {
    display: flex;
    width: auto;
    /* !!! */
}

.listArea-div1-tab {
    min-width: 130px;
    justify-content: center;
    text-align: center;
}

.listArea-div1-title {
    margin-left: 10px;
    max-width: calc(100%);
    justify-content: left;
}

.listArea-div1-replyCount {
    min-width: fit-content;
    justify-content: center;
    flex-shrink: 1;
}

.listArea-div1-writter {
    min-width: 90px;
    justify-content: center;
    text-align: center;
}

.listArea-div1-date {
    min-width: 80px;
    justify-content: center;
    text-align: center;
}

.listArea-div1-viewCount {
    min-width: 60px;
    justify-content: center;
    text-align: center;
}

.listArea-div1-dogchu {
    min-width: 60px;
    justify-content: center;
    text-align: center;
}


.listArea-div2>div {
    display: flex;
    flex-direction: column;
    border-bottom: #AEAEAE 1px solid;
}

.listArea-div2>div>div:nth-of-type(2n+1) {
    padding-right: 10px;
    display: flex;
}

.listArea-div2>div>div:nth-of-type(2n) {
    display: flex;
    justify-content: space-between;

}

.listArea-div2-rightStuff {
    display: flex;
    gap: 5px;
    padding-right: 10px;
}


.listArea-div2-tab {
    justify-content: center;
    text-align: center;
    padding-left: 10px;
}

.listArea-div2-title {
    max-width: calc(100%);
    justify-content: left;
    display: block;
}

.listArea-div2-replyCount {
    min-width: fit-content;
    justify-content: center;
    flex-shrink: 1;
}

.listArea-div2-writter {
    justify-content: left;
    padding-left: 10px;
}

.listArea-div2-date {
    min-width: 60px;
    justify-content: center;
    text-align: right;
}

.listArea-div2-viewCount {
    min-width: 45px;
    justify-content: center;
    text-align: center;
}

.listArea-div2-dogchu {
    min-width: 45px;
    justify-content: center;
    text-align: center;
}

@media (min-width: 721px) {
    .listArea-div2 {
        display: none;
    }

    #listArea {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    #listArea {
        max-width: calc(100% - 40px);
    }

    .listArea-div2-tab {
        min-width: 130px;
    }

    .listArea-div2-writter {
        text-align: center;
        min-width: 130px;
    }

    .listArea-div1 {
        display: none;
    }
}

@media (max-width: 480px) {
    #listArea {
        max-width: calc(100% - 40px);
    }

    #listArea>table:nth-of-type(1) {
        display: none;
    }

    .listArea-div1 {
        display: none;
    }

    .listArea-div2-writter {
        text-align: left;
        min-width: fit-content;
    }

    .listArea-div2-tab {
        min-width: fit-content;
    }
}

/* 버튼 css */
.btn-primary {
    border: 0;
    color: white;
    background-color: #006d77;
    width: 200px; /* 고정 너비 설정 (원하는 크기로 조정 가능) */
    padding: 15px; /* 패딩 설정 */
    font-size: 18px; /* 폰트 크기 설정 */
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: #006D77;
    opacity: 0.9;
}

.btn-primary:focus{
    background-color: #006D77;
    box-shadow: 0px 0px 0px 5px #ccf0ec;
    opacity: 0.9;
}

/* 페이징 바 css */
.pagination {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
.page-arrow, .page-num {
    margin: 0 8px;
    cursor: pointer;
    color: #007272;
}
  
.page-num {
    padding: 5px 10px;
    border-radius: 50%;
}
  
.page-num.active {
    background-color: #007272; 
    color: white;
}
  
/* 팝업(모달) css */
.modal-content{
    border:10px solid #006D77;
}

.modal-header{
    display:flex;
    justify-content: center;
    border:0;
}

.modal-header img{
    width:100%;
    height:50px;
}

.modal-body{
    text-align: center;
    font-size: 24px;
    color:#006D77;
}

.modal-footer{
    display: flex;
    justify-content: center;
    border:0;
}

.modal-footer button{
    width:135px;
    height:60px;
    background-color: #006D77;
    color: white;
    border:0;
    border-radius: 5px;
}

.modal-footer button:hover{
    opacity: 0.9;
}

/* 프로필 사진 css */
.profile-img{
    width:200px;
    height:200px;
}

.profile-img.small{
    width:125px;
    height:125px;
}

.profile-img img{
    width: 100%;
    height: 100%;
}

/* 셀렉트박스 css */
/* .custom-select {
    width: 120px;
}

.select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #83C5BE;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.arrow {
    color: #007272;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

.options li {
    padding: 10px;
    cursor: pointer;
}

.options li:hover {
    background-color: #f0f0f0;
}

.select-box.active + .options {
    display: block;
}

.select:focus + .icoArrow img {
    transform: rotate(180deg);
} */

/* 셀렉트박스v2 css */
.custom-select{
    width:120px;
    display: flex;
    position: relative;
    justify-content: center;
}

.button-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #83C5BE;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    background-color: transparent;
    white-space: nowrap;
    width:100%;
}

.button-select  div{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95px;
}

.button-select img{
    width:25px;
    min-width: 25px;
    height:25px;
    min-height:25px;
    margin-left: 10px;
    transition: .3s;
}

.button-select:focus{
    outline: none;
}

.button-select:focus img{
    transform: rotate(180deg);
}

.item-list{
    position: absolute;
    top:100%;
    min-width: 80%;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1;
    overflow: hidden;
}

.item{
    padding:10px 10px;
}

.item:hover{
    background-color: #EDF6F9;
}


  
/* 입력창(인풋창) */
.form-group {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #83c5be;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #EDF6F9;
}

.form-group input[type="text"]:focus{
    box-shadow: 0px 0px 0px 3px #ccf0ec;
}

/* 검색창(서치바) */
.search-form{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:45px;
    border:3px solid #83C5BE;
    border-radius: 25px;
    /* input이 border영역을 침범하면 padding 조절*/
    padding-left:15px;
    padding-right:3px;
}

.search-form input[type="text"]{
    width:90%;
    padding:5px 10px;
}

.search-form input[type="text"]:focus{
    outline:none;
}

.search-form button{
    width:35px;
    height:35px;
    border: none;
    background-color: #006D77;
    display:flex;
    justify-content: center;
    align-items: center;
}

.search-form img{
    width:100%;
}

/* 멘토 카드 */
.mentor-card{
    width: 100%; /* width 조절해서 사용 */
    height: 100%;
    position: relative;
    height:300px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap:3px;
}

.mentor-card div{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.mentor-name{
    width: 100%;
    white-space: nowrap; /* 한줄일때 말줄임 처리를 위해 필요 */
}

.symbol-license{
    width: 100%;
    white-space: nowrap;
}

.member-intro{
    width: 100%;
    display: -webkit-box;         /* 웹킷 레이아웃 */
    -webkit-box-orient: vertical; /* 텍스트 방향을 세로로 설정 */
    -webkit-line-clamp: 3;        /* 최대 3줄로 제한 */
}

.mentor-valid{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:10px;
    border-radius: 15px;
    padding-left:5px;
    padding-right:5px;
}

.mentor-valid img{
    width: 16px;
    height:16px;
}

.accept{
    background-color: #EDF6F9;
}

.reject{
    background-color: #FFDDD2;
}

/* 맨 위 스크롤 버튼 */
.bottom-options{
    position: fixed;
    bottom:20px;
    right: 20px;
}

.bottom-options .top-button{
    width:45px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-options .top-button img{
    width: 100%;
    height: 100%;
}

/* 게시판(리스트) v2 */
.board{
    width:100%;
    table-layout: fixed; /* table 요소의 크기를 동일하게 고정 */
}

.board tr{
    border-radius: 5px;
}

.board th, .board td{
    height:40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:10px;
    padding-right:10px;
}

.board th.title{
    width:60%;
}

.board td.title{
    text-align:start;
}

.board td{
    border-bottom:1px solid black;
}

.board tr{
    border-left:1px solid black;
    border-right: 1px solid black;
}

.board tr.header{
    border:1px solid #006D77;
}

