@charset "utf-8";
html, body, div, p, span, strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6,
img, dl, dt, dd,
fieldset, form, legend, label,
table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea {margin: 0;padding: 0; border: 0 none; }

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

ul, ol, li {list-style: none;}
em, address {font-style: normal;}
img {border: 0 none; font-size: 0;line-height: 0;}
sup {position: relative;top: 2px;font-size: 11px;line-height: 100%;}

table {border-collapse: collapse; border-spacing:0; }
caption {overflow: hidden;width: 0;height: 0;font-size: 0; line-height: 0;}
th, td { vertical-align: middle;/* white-space: nowrap */}

a {color: inherit; /* 부모 요소 색깔을 따르도록 설정 */ text-decoration-line: none; line-height: 1;}
a:hover, a:focus, a:active {text-decoration: none;}
a:visited {color: #333;}
*, html {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 0px; margin: 0px; }
*, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

.wrapper{
    max-width: 1250px;
    margin:0 auto;
}

/* 폰트 크기 */
.font-size-title{
    font-size: 32px;
}

.font-size-subtitle{
    font-size: 24px;
}

.font-size-content{
    font-size: 16px;
}

.font-size-footer{
    font-size:12px;
}

/* 배경색 */
.bgcolor1{
    background-color: #006D77;
}

.bgcolor2{
    background-color: #83C5BE;
}

.bgcolor3{
    background-color: #EDF6F9;
}

.bgcolor4{
    background-color: #FFDDD2;
}

.bgcolor5{
    background-color: #E29578;
}