*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration-line:none; /* a 태그 밑줄 제거 */
    color: inherit; /* 부모 요소 색깔을 따르도록 설정 */
}

ul,ol,li{
    list-style: none;
    padding: 0; /* Bootstrap5 패딩 제거용 */
    margin: 0; /* Bootstrap5 마진 제거용 */
}

.wrapper{
    max-width: 1250px;
    margin:0 auto;
}

/* 폰트 크기 */
.font-size-title{
    font-size: 32px;
}

.font-size-subtitle{
    font-size: 24px;
}

.font-size-content{
    font-size: 16px;
}

.font-size-footer{
    font-size:12px;
}

/* 배경색 */
.bgcolor1{
    background-color: #006D77;
}

.bgcolor2{
    background-color: #83C5BE;
}

.bgcolor3{
    background-color: #EDF6F9;
}

.bgcolor4{
    background-color: #FFDDD2;
}

.bgcolor5{
    background-color: #E29578;
}