body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    margin: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-login  button {
    width: 48%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #83c5be;
    border-radius: 5px;
    box-sizing: border-box;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-danger {

    border: solid 1px #006d77;
    color: black;
    background-color: #ffffff;
}

.btn-primary {
    background-color: #006d77;
}