.pagination {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .page-arrow, .page-num {
    margin: 0 8px;
    cursor: pointer;
    color: #007272;
  }
  
  .page-num {
    padding: 5px 10px;
    border-radius: 50%;
  }
  
  .page-num.active {
    background-color: #007272; 
    color: white;
  }
  