img{
    width: 100%;
}

.banner>img {
     display: block;
     margin: auto;
 }

 .banner {
     background-color: #E6E7FF;
 }

 .layer1 {
     display: flex;
     margin: 10px auto;
 }

 .calendar {
     border-radius: 5px;
     transition: box-shadow 0.3s ease;
 }

 .calendar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

 .schedule {
     display: inline-block;
     border: 1px solid #83C5BE;
     width: 445px;
     height: 495px;
     border-radius: 5px;
     transition: box-shadow 0.3s ease;
 }

 .schedule:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
 .schedule>h1 {
     font-size: 32px;
     text-align: start;
 }

 .layer2 {
     display: flex;
     justify-content: space-around;
 }

 .bestBoard {
     border: 1px solid #83C5BE;
     width: 520px;
     height: 317px;
     border-radius: 5px;
     box-sizing: border-box;
     transition: box-shadow 0.3s ease;
 }
 .bestBoard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

 .bestBoard>h1 {
     font-size: 32px;
     text-align: start;
 }

 .notice {
     border: 1px solid #83C5BE;
     width: 550px;
     height: 317px;
     border-radius: 5px;
     box-sizing: border-box;
     transition: box-shadow 0.3s ease;
 }
 .notice:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

 .notice>h1 {
     font-size: 32px;
     text-align: start;
 }