<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="dataMapper">
    <resultMap type="DataBoard" id="selectDataResult">
        <result column="DATA_BOARD_NO" property="dataBoardNo" />
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="DATA_BOARD_TITLE" property="dataBoardTitle"/>
        <result column="DATA_BOARD_CONTENT" property="dataBoardContent"/>
        <result column="BOARD_DATE" property="boardDate"/>
        <result column="VIEW_COUNT" property="viewCount"/>
    </resultMap>
    
    <!-- 게시글 총 개수 조회 -->
    <select id="selectDataBoardCount" resultType="int">
        SELECT COUNT(*) 
        FROM DATA_BOARD
    </select>

    <!-- 게시글 목록 조회 -->
    <select id="selectDataBoardList" resultMap="selectDataResult">
        SELECT DATA_BOARD_NO, 
               MEMBER_NO, 
               DATA_BOARD_TITLE, 
               DATA_BOARD_CONTENT, 
               BOARD_DATE, 
               VIEW_COUNT
        FROM DATA_BOARD
        ORDER BY BOARD_DATE DESC
    </select>
</mapper>
