<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="managerMapper">
  <resultMap type="License2" id="LicenseResultSet">
	<result column="SYMBOL_LICENSE" property="symbolLicense"/>
	<result column="MEMBER_NO" property="memberNo"/>
  	<result column="LICENSE_NO" property="licenseNo"/>
  	<result column="LICENSE_IMG" property="licenseImg"/>
  	<result column="CONFIRM_DATE" property="confirmDate"/>
  	<result column="LICENSE_NAME" property="licenseName"/>
  	<result column="LICENSE_DESC" property="licenseDesc"/>
  	<result column="MEMBER_NICKNAME" property="memberName"/>
  </resultMap>
  
   <resultMap type="NoticeBoard" id="boardResultSet">
	<result column="NOTICE_BOARD_NO" property="boardNo"/>
	<result column="MEMBER_NO" property="memberNo"/>
  	<result column="NOTICE_BOARD_TITLE" property="boardTitle"/>
  	<result column="NOTICE_BOARD_CONTENT" property="boardContent"/>
  	<result column="VIEW_COUNT" property="viewCount"/>
  	<result column="NOTICE_BOARD_DATE" property="boardDate"/>
  	<result column="STATUS" property="status"/>
  	<result column="MEMBER_NICKNAME" property="memberName"/>
  </resultMap>

  <select id="countLicenseList" resultType="int">
	SELECT COUNT(*)
	FROM MEMBER_LICENSE ML
	INNER JOIN MEMBER M ON (ML.MEMBER_NO = M.MEMBER_NO)
	WHERE CONFIRM_DATE IS NULL
	<if test="keyword != null">
		AND MEMBER_NICKNAME LIKE '%' || #{keyword} || '%'
	</if>
  </select>
  
   <select id="selectLicenseList" resultMap="LicenseResultSet">
		SELECT ML.LICENSE_NO LICENSE_NO,
		    L.LICENSE_NAME,
		    ML.MEMBER_NO MEMBER_NO,
		    ML.LICENSE_IMG LICENSE_IMG,
		    M.MEMBER_NICKNAME MEMBER_NICKNAME
		FROM MEMBER_LICENSE ML
		INNER JOIN MEMBER M ON (ML.MEMBER_NO = M.MEMBER_NO)
		INNER JOIN LICENSE L ON (L.LICENSE_NO = ML.LICENSE_NO)
		WHERE CONFIRM_DATE IS NULL
	<if test="keyword != null">
		AND MEMBER_NICKNAME LIKE '%' || #{keyword} || '%'
	</if>
  </select>
  
  <select id="getReportedId" resultType="_int">
  	SELECT 
  		CASE 
            WHEN #{name} = '스터디' THEN STUDY_BOARD_NO
            WHEN #{name} = '댓글' THEN REPLY_NO
            WHEN #{name} = '글' THEN BOARD_NO
            WHEN #{name} = '메세지' THEN MESSAGE_NO
            WHEN #{name} = '유저' THEN ACCUSED_NO
            ELSE NULL
        END AS REPORTED_ID
  	FROM REPORT
  	WHERE REPORT_NO = #{reportNo}
  </select>
  
  <delete id="deleteMessage">
  	DELETE 
  	FROM MESSAGE
  	WHERE MESSAGE_NO = #{id}
  </delete>

  <update id="deleteReported">
  	<choose>
        <when test='name.equals("스터디")'>
            UPDATE STUDY_BOARD
            SET STATUS = 'N'
            WHERE STUDY_BOARD_NO = #{id}
        </when>
        <when test='name.equals("댓글")'>
            UPDATE REPLY
            SET STATUS = 'N'
            WHERE REPLY_NO = #{id}
        </when>
        <when test='name.equals("글")'>
            UPDATE BOARD
            SET STATUS = 'N'
            WHERE BOARD_NO = #{id}
        </when>
        <when test='name.equals("유저")'>
            UPDATE MEMBER
            SET STATUS = 'N'
            WHERE MEMBER_NO = #{id}
        </when>
    </choose>
  </update>
  <update id="confirmLicense">
  	UPDATE MEMBER_LICENSE
  	   SET CONFIRM_DATE = SYSDATE
  	 WHERE MEMBER_NO = #{memberNo}
  	   AND LICENSE_NO = #{licenseNo}
  </update>
  
  <delete id="rejectLicense">
  	DELETE FROM MEMBER_LICENSE
  	 WHERE MEMBER_NO = #{memberNo}
  	   AND LICENSE_NO = #{licenseNo}
  </delete>
  
   <select id="countBoard" resultType="int">
		SELECT COUNT(*)
		FROM NOTICE_BOARD NB
		INNER JOIN MEMBER M ON (NB.MEMBER_NO = M.MEMBER_NO)
		WHERE NB.STATUS = 'Y'
		<if test="keyword != null">
			AND NOTICE_BOARD_TITLE LIKE '%' || #{keyword} || '%'
		</if>
  </select>
  
  <select id="selectBoardList" resultMap="boardResultSet">
	  SELECT NB.NOTICE_BOARD_NO NOTICE_BOARD_NO,
	        NB.MEMBER_NO MEMBER_NO,
	        NB.NOTICE_BOARD_TITLE NOTICE_BOARD_TITLE,
	        NB.NOTICE_BOARD_CONTENT NOTICE_BOARD_CONTENT,
	        NB.VIEW_COUNT VIEW_COUNT,
	        NB.NOTICE_BOARD_DATE NOTICE_BOARD_DATE,
	        NB.STATUS STATUS,
	        M.MEMBER_NICKNAME MEMBER_NICKNAME
		FROM NOTICE_BOARD NB
		INNER JOIN MEMBER M ON (NB.MEMBER_NO = M.MEMBER_NO)
		WHERE NB.STATUS = 'Y'
		<if test="keyword != null">
			AND NOTICE_BOARD_TITLE LIKE '%' || #{keyword} || '%'
		</if>
  </select>

	<delete id="deleteReport">
		DELETE 
		FROM REPORT
		<choose>
        <when test='name.equals("스터디")'>
            WHERE STUDY_BOARD_NO = #{id}
        </when>
        <when test='name.equals("댓글")'>
            WHERE REPLY_NO = #{id}
        </when>
        <when test='name.equals("글")'>
            WHERE BOARD_NO = #{id}
        </when>
        <when test='name.equals("유저")'>
            WHERE ACCUSED_NO = #{id}
        </when>
        <when test='name.equals("메세지")'>
            WHERE MESSAGE_NO = #{id}
        </when>
        <otherwise>
        	WHERE REPORT_NO = #{reportNo}
        </otherwise>
    </choose>
		
	</delete>
</mapper>

