<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="memberMapper">
  <resultMap type="Member" id="memberResultSet">
  	<result column="MEMBER_NO" property="memberNo"/>
  	<result column="MEMBER_ID" property="memberId"/>
  	<result column="MEMBER_PWD" property="memberPwd"/>
  	<result column="MEMBER_NAME" property="memberName"/>
  	<result column="MEMBER_INTRO" property="memberIntro"/>
  	<result column="MEMBER_NICKNAME" property="memberNickname"/>
  	<result column="EMAIL" property="email"/>
  	<result column="PHONE" property="phone"/>
  	<result column="MEMBER_IMG" property="memberImg"/>
  	<result column="ENROLL_DATE" property="enrollDate"/>
  	<result column="STATUS" property="status"/>
  	<result column="MANAGER_STATUS" property="managerStatus"/>
  	<result column="MENTOR_STATUS" property="mentorStatus"/>
  	<result column="MENTOR_VALID" property="mentorValid"/>
  	<result column="MENTOR_INTRO" property="mentorIntro"/>
  	<result column="CAREER" property="career"/>
  	<result column="LICENSE_NAME" property="symbolLicense"/>
  	<result column="LICENSE_NO" property="symbolLicenseNo"/>
  </resultMap>

  <select id="countMentor" resultType="_int">
  	SELECT COUNT(*)
  	FROM MEMBER
  	WHERE MENTOR_STATUS = 'Y'
      AND STATUS = 'Y'
  </select>

  <select id="selectMentorList" resultMap="memberResultSet"> 
   WITH LIKE_COUNT AS (
	    SELECT COUNT(*) AS LIKE_COUNT,
	           MENTOR_NO
	      FROM MENTOR_LIKE_LOG
	  GROUP BY MENTOR_NO
	), MEMBER_INFO AS (
	    SELECT
		        M.MEMBER_NO ,
		        M.MEMBER_INTRO ,
		        M.MEMBER_NICKNAME ,
		        M.MEMBER_IMG ,
		        L.LICENSE_NO ,
		        L.LICENSE_NAME,
		        M.MENTOR_VALID,
		        ML.CONFIRM_DATE
	       FROM MEMBER M
	  LEFT JOIN MEMBER_LICENSE ML ON(M.MEMBER_NO = ML.MEMBER_NO)
	  LEFT JOIN LICENSE L ON(ML.LICENSE_NO = L.LICENSE_NO)
	      WHERE ML.SYMBOL_LICENSE = 'Y'
	)
	SELECT
		   M.MEMBER_NO ,
		   M.MEMBER_INTRO ,
		   M.MEMBER_NICKNAME ,
		   M.MEMBER_IMG ,
		   MF.LICENSE_NO ,
		   MF.LICENSE_NAME,
		   M.MENTOR_VALID,
		   LC.LIKE_COUNT,
		   ROW_NUMBER() OVER(ORDER BY CONFIRM_DATE DESC) AS RNUM
	  FROM MEMBER M
 LEFT JOIN MEMBER_INFO MF ON(M.MEMBER_NO = MF.MEMBER_NO)
 LEFT JOIN LIKE_COUNT LC ON(M.MEMBER_NO = LC.MENTOR_NO)
     WHERE MENTOR_STATUS = 'Y'
	   AND STATUS = 'Y'
      	<if test="keyword != null">
      		AND M.MEMBER_NICKNAME LIKE '%' || #{keyword} || '%'
      	</if>
      	<if test="licenseNo != null">
      		AND LICENSE_NO = #{licenseNo}
      	</if>
    	<if test="sortNo eq 2">
      		ORDER BY LIKE_COUNT DESC NULLS LAST
      	</if>
  </select>
  
  <select id="selectMentorDetail" resultMap="memberResultSet">
  	SELECT  MEMBER_NO ,
	        MEMBER_NAME ,
	        MEMBER_INTRO ,
	        MEMBER_NICKNAME ,
	        MEMBER_IMG ,
	        MENTOR_VALID ,
	        MENTOR_INTRO ,
	        CAREER,
	        LICENSE_NAME
	FROM MEMBER
	LEFT JOIN MEMBER_LICENSE USING(MEMBER_NO)
	LEFT JOIN LICENSE USING(LICENSE_NO)
	WHERE MEMBER_NO = #{memberNo}
	  AND MENTOR_STATUS = 'Y'
	  AND STATUS = 'Y'
	  AND SYMBOL_LICENSE = 'Y'
  </select>
  
  <select id="countMentorLike" resultType="_int">
	SELECT COUNT(*)
	  FROM MENTOR_LIKE_LOG
	 WHERE MENTOR_NO = #{memberNo}
  </select>

</mapper>

