<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->

<mapper namespace="personalMapper">
	<resultMap type="Member" id="memberResultSet">
	  	<result column="MEMBER_NO" property="memberNo"/>
	  	<result column="MEMBER_ID" property="memberId"/>
	  	<result column="MEMBER_PWD" property="memberPwd"/>
	  	<result column="MEMBER_NAME" property="memberName"/>
	  	<result column="MEMBER_INTRO" property="memberIntro"/>
	  	<result column="MEMBER_NICKNAME" property="memberNickname"/>
	  	<result column="EMAIL" property="email"/>
	  	<result column="PHONE" property="phone"/>
	  	<result column="MEMBER_IMG" property="memberImg"/>
	  	<result column="ENROLL_DATE" property="enrollDate"/>
	  	<result column="STATUS" property="status"/>
	  	<result column="MANAGER_STATUS" property="managerStatus"/>
	  	<result column="MENTOR_STATUS" property="mentorStatus"/>
	  	<result column="MENTOR_VALID" property="mentorValid"/>
	  	<result column="MENTOR_INTRO" property="mentorIntro"/>
	  	<result column="CAREER" property="career"/>
	  	<result column="LICENSE_NAME" property="symbolLicense"/>
	  	<result column="LICENSE_NO" property="symbolLicenseNo"/>
	  	<result column="LIKE_COUNT" property="mentorLike"/>
	</resultMap>
	
	<select id="getMemberInfo" resultType="Member" resultMap="memberResultSet">
		SELECT MEMBER_NICKNAME,
			MEMBER_IMG,
			CAREER,
			MEMBER_INTRO,
			MENTOR_STATUS,
			MENTOR_INTRO,
			MENTOR_VALID
		FROM MEMBER
		WHERE STATUS = 'Y'
		AND MEMBER_NO = #{pno}
	</select>
	
	<select id="getMentorSubInfo" resultType="int">
		SELECT COALESCE(APPLY_NO, 0) AS APPLY_NO
		FROM APPLY_LOG
		WHERE APPLICANT_NO = #{mNo}
		AND RECIPIENT_NO = #{pno}
		AND APPLY_KIND = 1
	</select>
	
	<insert id="insertMentorSub">
		INSERT INTO APPLY_LOG(
			APPLY_NO,
			APPLICANT_NO,
			RECIPIENT_NO,
			APPLY_KIND
		) VALUES (
			APPLY_LOG_SEQ.NEXTVAL,
			#{mNo},
			#{pno},
			1
		)
	</insert>

	
</mapper>



