<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->

<mapper namespace="personalMapper">
	<resultMap type="Member" id="memberResultSet">
	  	<result column="MEMBER_NO" property="memberNo"/>
	  	<result column="MEMBER_ID" property="memberId"/>
	  	<result column="MEMBER_PWD" property="memberPwd"/>
	  	<result column="MEMBER_NAME" property="memberName"/>
	  	<result column="MEMBER_INTRO" property="memberIntro"/>
	  	<result column="MEMBER_NICKNAME" property="memberNickname"/>
	  	<result column="EMAIL" property="email"/>
	  	<result column="PHONE" property="phone"/>
	  	<result column="MEMBER_IMG" property="memberImg"/>
	  	<result column="ENROLL_DATE" property="enrollDate"/>
	  	<result column="STATUS" property="status"/>
	  	<result column="MANAGER_STATUS" property="managerStatus"/>
	  	<result column="MENTOR_STATUS" property="mentorStatus"/>
	  	<result column="MENTOR_VALID" property="mentorValid"/>
	  	<result column="MENTOR_INTRO" property="mentorIntro"/>
	  	<result column="CAREER" property="career"/>
	  	<result column="LICENSE_NAME" property="symbolLicense"/>
	  	<result column="LICENSE_NO" property="symbolLicenseNo"/>
	  	<result column="LIKE_COUNT" property="mentorLike"/>
	</resultMap>
	
 
	<resultMap type="License2" id="licenseResultSet">
		<result column="LICENSE_NO" property="licenseNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="CONFIRM_DATE" property="confirmDate"/>
		<result column="SYMBOL_LICENSE" property="symbolLicense"/>
		<result column="LICENSE_NAME" property="licenseName"/>
		<result column="LICENSE_DESC" property="licenseDesc"/>
		<result column="LICENSE_IMG" property="licenseImg"/>
	</resultMap>
	
	<resultMap type="Calendar2" id="calendarResultSet">
		<result column="CALENDAR_NO" property="calendarNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="CALENDAR_DETAIL" property="calendarDetail"/>
	</resultMap>
	
	<resultMap type="FullCalendarVo" id="fullCalendarResultSet">
		<result column="CALENDAR_DETAIL" property="title"/>
		<result column="START_DATE" property="start"/>
		<result column="END_DATE" property="end"/>
		<result column="BACKGROUND_COLOR" property="backgroundColor"/>
		<result column="TEXT_COLOR" property="textColor"/>
		<result column="CALENDAR_NO" property="id"/>
	</resultMap>
	
	<select id="getMemberInfo" resultType="Member" resultMap="memberResultSet">
		SELECT MEMBER_NICKNAME,
			MEMBER_IMG,
			CAREER,
			MEMBER_INTRO,
			MENTOR_STATUS,
			MENTOR_INTRO,
			MENTOR_VALID
		FROM MEMBER
		WHERE STATUS = 'Y'
		AND MEMBER_NO = #{pno}
	</select>
	
	<select id="getMentorSubInfo" resultType="int">
		SELECT COALESCE(APPLY_NO, 0) AS APPLY_NO
		FROM APPLY_LOG
		WHERE APPLICANT_NO = #{mNo}
		AND RECIPIENT_NO = #{pno}
		AND APPLY_KIND = 1
	</select>
	
	<insert id="insertMentorSub">
		INSERT INTO APPLY_LOG(
			APPLY_NO,
			APPLICANT_NO,
			RECIPIENT_NO,
			APPLY_KIND
		) VALUES (
			APPLY_LOG_SEQ.NEXTVAL,
			#{mNo},
			#{pno},
			1
		)
	</insert>
	
	<select id="getLikeCount" resultType="_int">
		SELECT COUNT(*)
	    FROM MENTOR_LIKE_LOG
	    WHERE MENTOR_NO = #{pno}
	</select>

	<select id="getLikeStatus" resultType="int">
	    SELECT CASE 
	        WHEN EXISTS (
	            SELECT 1
	            FROM MENTOR_LIKE_LOG
	            WHERE MEMBER_NO = #{memberNo}
	            AND MENTOR_NO = #{pno}
	        ) THEN 1
	        ELSE 0
	    END AS is_exists 
	    FROM DUAL
	</select>
	
	<insert id="insertMentorLike">
		INSERT INTO MENTOR_LIKE_LOG
		VALUES (
			#{memberNo},
			#{pno}
		)
	</insert>
	
	<delete id="deleteMentorLike">
		DELETE FROM MENTOR_LIKE_LOG
		 WHERE MEMBER_NO = #{memberNo}
	       AND MENTOR_NO = #{pno}
	</delete>
	
	<select id="haveLicense" resultType="License2" resultMap="licenseResultSet">
		SELECT ML.LICENSE_NO,
			ML.MEMBER_NO,
			TO_CHAR(ML.CONFIRM_DATE, 'YYYY-MM-DD') AS CONFIRM_DATE,
			ML.SYMBOL_LICENSE,
			L.LICENSE_NAME,
			L.LICENSE_DESC
		FROM MEMBER_LICENSE ML
		JOIN LICENSE L ON (ML.LICENSE_NO = L.LICENSE_NO)
		WHERE MEMBER_NO = #{pno}
		AND ML.CONFIRM_DATE IS NOT NULL
	</select>
	
	<select id="lookLicense" resultType="License2" resultMap="licenseResultSet">
		SELECT ML.LICENSE_NO,
			ML.MEMBER_NO,
			L.LICENSE_NAME,
			L.LICENSE_DESC
		FROM MEMBER_LOOK_LICENSE ML
		JOIN LICENSE L ON (ML.LICENSE_NO = L.LICENSE_NO)
		WHERE MEMBER_NO = #{pno}
	</select>
	
	<update id="saveProfile">
		UPDATE MEMBER
		SET
			MEMBER_INTRO = #{memberIntro},
			MEMBER_NICKNAME = #{memberNickname},
			MEMBER_NAME = #{memberName},
			EMAIL = #{email},
			PHONE = #{phone},
			MEMBER_IMG = #{memberImg},
			MANAGER_STATUS = #{managerStatus},
			MENTOR_INTRO = #{mentorIntro},
			CAREER = #{career}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>
	<select id="selectLookLicense" resultType="_int">
		SELECT CASE 
       WHEN EXISTS (
           SELECT 1
           FROM MEMBER_LOOK_LICENSE ML
           JOIN LICENSE L ON ML.LICENSE_NO = L.LICENSE_NO
           WHERE ML.MEMBER_NO = #{memberNo}
           AND L.LICENSE_NAME = #{string}
       ) THEN 1
       	ELSE 0
		   END AS is_exists	
		FROM DUAL
	</select>
	
	<insert id="insertLookLicense">
		INSERT INTO MEMBER_LOOK_LICENSE (MEMBER_NO, LICENSE_NO)
		SELECT #{memberNo}, LICENSE_NO
		FROM LICENSE
		WHERE LICENSE_NAME = #{string}
	</insert>
	
	<select id="getNotOwnCertiList" resultType="string">
		SELECT 
		    L.LICENSE_NAME
		FROM 
		    LICENSE L
		LEFT JOIN 
		    MEMBER_LICENSE ML
		ON 
		    L.LICENSE_NO = ML.LICENSE_NO
		    AND ML.MEMBER_NO = #{pno}
		WHERE 
		    ML.MEMBER_NO IS NULL
	</select>
	
	<select id="getLicenseNo" resultType="int">
		SELECT
			LICENSE_NO
		FROM
			LICENSE
		WHERE
			LICENSE_NAME = #{licenseName}
	</select>
	
	<insert id="saveLicenseEnroll" parameterType="License2">
		INSERT
			INTO MEMBER_LICENSE
			(
				LICENSE_NO,
				MEMBER_NO,
				LICENSE_IMG
			)
			VALUES
			(
				#{licenseNo},
				#{memberNo},
				#{licenseImg}
			)
	</insert>
	
	<update id="ajaxSetMentorEnroll" parameterType="Member">
		UPDATE MEMBER
		SET
		MENTOR_STATUS = 'Y',
		MENTOR_INTRO = #{mentorIntro},
		CAREER = #{career}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>
	
	<update id="setSymbolLicense">
		UPDATE MEMBER_LICENSE
		SET
		SYMBOL_LICENSE = 'Y'
		WHERE MEMBER_NO = #{pno}
		AND LICENSE_NO = #{licenseNo}
	</update>
	
	<update id="ajaxSetMentor" parameterType="Member">
		UPDATE MEMBER
		SET
		MENTOR_INTRO = #{mentorIntro},
		CAREER = #{career},
		MENTOR_VALID = #{mentorValid}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>
	
	<update id="resetSymbolLicense">
		UPDATE MEMBER_LICENSE
		SET
		SYMBOL_LICENSE = 'N'
		WHERE MEMBER_NO = #{pno}
	</update>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET
		MEMBER_NAME = #{memberName},
		EMAIL = #{email},
		PHONE = #{phone}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="ajaxSubmitChange" parameterType="Member">
		UPDATE MEMBER
		SET
		MEMBER_PWD = #{memberPwd}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="ajaxSubmitDelete">
		UPDATE MEMBER
		SET
		STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="scLoad" resultType="FullCalendarVo" resultMap="fullCalendarResultSet">
		SELECT 
				CALENDAR_NO,
				TO_char(START_DATE, 'YYYY-MM-DD"T"HH24:MI:SS') START_DATE,
				TO_char(END_DATE, 'YYYY-MM-DD"T"HH24:MI:SS') END_DATE,
				CALENDAR_DETAIL,
				BACKGROUND_COLOR,
				TEXT_COLOR
		FROM MEMBER_CALENDAR
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getCurrentDateInfo" resultType="FullCalendarVo" resultMap="fullCalendarResultSet">
		SELECT 
			CALENDAR_NO,
		    TO_CHAR(START_DATE, 'YYYY-MM-DD"T"HH24:MI:SS') AS START_DATE,
		    TO_CHAR(END_DATE, 'YYYY-MM-DD"T"HH24:MI:SS') AS END_DATE,
		    CALENDAR_DETAIL,
		    BACKGROUND_COLOR,
		    TEXT_COLOR
		FROM MEMBER_CALENDAR
		WHERE MEMBER_NO = #{memberNo}
		  AND TO_DATE(#{date}, 'YYYY-MM-DD') &gt;= TRUNC(START_DATE)
		AND TO_DATE(#{date}, 'YYYY-MM-DD') &lt;= TRUNC(END_DATE)
	</select>
	
	<delete id="deleteSc">
		DELETE FROM MEMBER_CALENDAR
		 WHERE MEMBER_NO = #{memberNo}
	       AND CALENDAR_NO = #{calendarNo}
	</delete>
	
	<insert id="insertSc" parameterType="FullCalendarVo">
		INSERT INTO MEMBER_CALENDAR
		VALUES (
			MEMBER_CALENDAR_SEQ.NEXTVAL,
			#{memberNo},
			TO_DATE(#{start}, 'YYYY-MM-DDHH24:MI:SS'),
			TO_DATE(#{end}, 'YYYY-MM-DDHH24:MI:SS'),
			#{title},
			#{backgroundColor},
			#{textColor}
		)
	</insert>
	
	<select id="checkReportMember" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT
		WHERE ACCUSER_NO = #{memberNo}
		AND ACCUSED_NO = #{pno}
	</select>
	
	<insert id="insertReportMember" parameterType="Report">
		INSERT INTO REPORT(
			REPORT_NO,
			ACCUSER_NO,
			ACCUSED_NO,
			<if test="boardNo != 0">
			BOARD_NO,
			</if>
			<if test="replyNo != 0">
			REPLY_NO,
			</if>
			<if test="messageNo != 0">
			MESSAGE_NO,
			</if>
			<if test="studyBoardNo != 0">
			STUDY_NO,
			</if>
			REPORT_TYPE_NO,
			REPORT_DETAIL
		)
		VALUES(
			REPORT_SEQ.NEXTVAL,
			#{accuserNo},
			#{accusedNo},
			<if test="boardNo != 0">
			#{boardNo},
			</if>
			<if test="replyNo != 0">
			#{replyNo},
			</if>
			<if test="messageNo != 0">
			#{messageNo},
			</if>
			<if test="studyBoardNo != 0">
			#{stydyBoardNo},
			</if>
			#{reportTypeNo},
			#{reportDetail}
		)
	</insert>
	
</mapper>



