<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->

<mapper namespace="replyMapper">
	<resultMap type="Reply" id="replyResult">
		<result column="REPLY_NO" property="replyNo" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="REPLY_PNO" property="replyPNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="STATUS" property="status" />
		<result column="REPLY_GROUP" property="replyGroup" />
		<result column="REPLY_DEPTH" property="replyDepth" />
		<result column="REPLY_ORDER" property="replyOrder" />
		<result column="CHILD_COUNT" property="childCount" />
		<result column="MEMBER_NICKNAME" property="memberNickname" />
		<result column="MEMBER_IMG" property="memberImg" />
		
	</resultMap>

  <!-- 댓글 총 갯수 조회 -->
  <select id="selectListCount" resultType="int">
   	SELECT COUNT(*)
   	  FROM REPLY
   	<where>
  	 	<!-- STATUS = 'Y' -->
  	 	AND BOARD_NO = #{cno}
  	 	AND REPLY_PNO IS NULL
  	 </where> 
  </select>
  
  
  <!-- 댓글 목록 조회 -->
  <select id="selectList"  resultMap="replyResult">
  	SELECT R.REPLY_NO,
			R.BOARD_NO,
			R.REPLY_PNO,
			R.MEMBER_NO,
			R.REPLY_CONTENT,
			R.STATUS,
			R.REPLY_GROUP,
			R.REPLY_DEPTH,
			R.REPLY_ORDER,
			R.CHILD_COUNT,
			M.MEMBER_NICKNAME,
			M.MEMBER_IMG
  	  FROM REPLY R
  	  JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
  	 <where>
  	 	R.BOARD_NO = #{boardNo}
  	 	AND R.REPLY_PNO IS NULL
  	 </where> 
  	 ORDER BY REPLY_NO ASC
  </select>
  

	 <!-- 댓글쓰기 -->
	  <insert id="insertReply" parameterType="Reply">
	  	INSERT
	  		INTO REPLY
	  		(
	  		REPLY_NO,
			BOARD_NO,
			<if test="replyPNo != 0">
				REPLY_PNO,
			</if>
			MEMBER_NO,
			REPLY_CONTENT,
			STATUS,
			REPLY_GROUP,
			REPLY_DEPTH,
			REPLY_ORDER,
			CHILD_COUNT
	  		)
	  		VALUES
	  		(
	  			REPLY_SEQ.NEXTVAL,
	  			#{boardNo},
	  			<if test="replyPNo != 0">
					#{replyPNo},
				</if>
	  			#{memberNo},
	  			#{replyContent},
	  			'Y',
	  			<if test="replyGroup == 0">
	  				REPLY_SEQ.CURRVAL,
	  			</if>
	  			<if test="replyGroup != 0">
	  			#{replyGroup},
	  			</if>
	  			#{replyDepth},
	  			#{replyOrder},
	  			#{childCount}
	  		)
	  </insert>
	  
		<!-- 댓글 삭제 -->
	  <update id="deleteReply">
	  	UPDATE REPLY
	  	SET
	  	STATUS = 'N'
		 WHERE REPLY_NO = #{replyNo}
	  </update>

	<!-- 댓글 수정 -->
	<update id="editReply" parameterType="Reply">
		UPDATE REPLY
		SET
		REPLY_CONTENT = #{replyContent}
		WHERE
		REPLY_NO = #{replyNo}
	</update>
	
	
	
	<select id="selectChildReplyList" resultMap="replyResult">
		SELECT R.REPLY_NO,
			R.BOARD_NO,
			R.REPLY_PNO,
			R.MEMBER_NO,
			R.REPLY_CONTENT,
			R.STATUS,
			R.REPLY_GROUP,
			R.REPLY_DEPTH,
			R.REPLY_ORDER,
			R.CHILD_COUNT,
			M.MEMBER_NICKNAME,
			M.MEMBER_IMG
  	  FROM REPLY R
  	  JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
  	 <where>
  	 	R.REPLY_GROUP = #{replyNo}
  	 	AND R.REPLY_PNO IS NOT NULL
  	 </where> 
  	 ORDER BY REPLY_NO ASC
  </select>
  
  <select id="getReply" resultMap="replyResult">
  	SELECT REPLY_CONTENT
  	FROM REPLY
  	WHERE REPLY_NO = #{replyNo}
  </select>
</mapper>



