<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="searchMapper">
    <resultMap type="License" id="searchResultList">
        <result column="LICENSE_NO" property="licenseNo"/>
        <result column="LICENSE_NAME" property="licenseName"/>
        <result column="LICENSE_DESC" property="licenseDesc"/>
        <result column="LICENSE_DOC_EXAM" property="licenseDocExam"/>
        <result column="LICENSE_PRAC_EXAM" property="licensePracExam"/>
        <result column="LICENSE_EXAM_SCOPE" property="licenseExamScope"/>
    </resultMap>

    <!-- 검색 쿼리만 실행 -->
    <select id="selectListResult" resultMap="searchResultList">
        SELECT *
        FROM LICENSE
        WHERE LICENSE_NAME LIKE '%' || #{keyword} || '%'
        ORDER BY LICENSE_NO
    </select>

    <!-- 검색 결과 개수 쿼리 -->
    <select id="selectResultCount" resultType="int">
        SELECT COUNT(*)
        FROM LICENSE
        WHERE LICENSE_NAME LIKE '%' || #{keyword} || '%'
    </select>
</mapper>


