<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="searchMapper">
	<resultMap type="License" id="searchResultList">
		<result column="LICENSE_NO" property="licenseNo" />
		<result column="LICENSE_NAME" property="licenseName" />
		<result column="LICENSE_DESC" property="licenseDesc" />
	</resultMap>
	<!-- 자격증 이름으로 검색하는 페이징 처리된 쿼리 -->
	<select id="selectListResult" resultType="License">
		SELECT * 
		FROM (
		SELECT LICENSE_NO, 
		LICENSE_NAME, 
		LICENSE_DESC,
		ROW_NUMBER() OVER (ORDER BY LICENSE_NO) AS rnum
		FROM LICENSE
		WHERE LICENSE_NAME LIKE '%' || #{keyword} || '%'
		) WHERE rnum BETWEEN #{offset + 1} AND #{offset + pageSize}

	</select>


	<!-- 전체 검색 결과 개수 -->
	<select id="selectResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM LICENSE
		WHERE LICENSE_NAME LIKE '%' || #{keyword} || '%'
	</select>
</mapper>
