/* 검색 form 부분 */
.search-section{
    display:flex;
}

/* 검색 옵션 부분 */
.search-option{
    display:flex;
}

/* 멘토 카드 목록 */
.mentor-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

/* 멘토 카드 */
.mentor-card{
    position: relative;
    height:300px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin:5px;
}

.mentor-card:hover{
    box-shadow: 5px 5px 0px 3px #ccf0ec;
}

.mentor-card div{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.mentor-name{
    width: 100%;
    white-space: nowrap; /* 한줄일때 말줄임 처리를 위해 필요 */
}

.symbol-license{
    width: 100%;
    white-space: nowrap;
}

.member-intro{
    width: 100%;
    display: -webkit-box;         /* 웹킷 레이아웃 */
    -webkit-box-orient: vertical; /* 텍스트 방향을 세로로 설정 */
    -webkit-line-clamp: 4;        /* 최대 4줄로 제한 */
}

@media (min-width: 721px) {
    .mentor-card{
        width:calc(20% - 25px);
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .mentor-card{
        width:calc(33% - 15px);
    }
}

@media (max-width: 480px) {
    .search-section{
        display:flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .mentor-card{
        width:calc(50% - 10px);
    }
}