.study-name, .study-intro{
    width: 100%;
    display: -webkit-box;         /* 웹킷 레이아웃 */
    -webkit-box-orient: vertical; /* 텍스트 방향을 세로로 설정 */
    -webkit-line-clamp: 2;        /* 최대 2줄로 제한 */
}

.member-number{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding-left:5px;
    padding-right:5px;
}

.member-number img{
    width: 20px;
    height:20   px;
}