.subtitle{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.page-title.font-size-title{
    border-bottom:2px solid #006D77;
    margin-bottom:20px;
}

/* 게시글 버튼 영역 */
.option{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 50px 0;
}

.option button{
    width: 135px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    white-space: nowrap;
}

.option button img{
    width:30px;
    height:30px;
}

.option button:hover{
    opacity: 0.8;
}

.option .delete{
    background-color: #E29578;
    color: black;
}
.option .delete:hover{
    background-color: #E29578;
    color: white;
}
.option .delete:focus{
    background-color: #E29578;
    color: white;
}

.option .modify{
    background-color: #FFDDD2;
    color: black;
}
.option .modify:hover{
    background-color: #FFDDD2;
    color: white;
}
.option .modify:focus{
    background-color: #FFDDD2;
    color: white;
}

.option .back{
    background-color: #83C5BE;
    color: black;
}
.option .back:hover{
    background-color: #83C5BE;
    color: white;
}
.option .back:focus{
    background-color: #83C5BE;
    color: white;
}

.option .apply{
    background-color: black;
}

@media (min-width: 721px) {

}

@media (min-width: 481px) and (max-width: 720px) {
    .option{
        flex-direction: column;
    }
    .option button{
        width:calc(100% - 1.25rem);
    }
}

@media (max-width: 480px) {
    .option{
        flex-direction: column;
    }
    .option button{
        width:calc(100% - 1.25rem);
    }
}