.study-name, .study-intro{
    width: 100%;
    display: -webkit-box;         /* 웹킷 레이아웃 */
    -webkit-box-orient: vertical; /* 텍스트 방향을 세로로 설정 */
    -webkit-line-clamp: 2;        /* 최대 2줄로 제한 */
}

.tag.valid{
    position: absolute;
    bottom:10px;
}