.tag.valid{
    position: absolute;
    bottom:70px;
}

/* 스터디 참여 멤버 목록 */
.mentor-intro{
    display:grid;
    /*
        auto-fill : 컬럼 개수를 사이즈에 맞춰서 자동
        minmax(최소값, 1fr:자동으로 비율맞춰 넣기) 
     */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 0 5px;
}

/* 스터디 참여 멤버 카드 */
.member{
    display: flex;
    align-items: center;
    gap:10px;
    padding:10px 0;
    border-radius: 5px;
}

.member:hover{
    background-color: #EDF6F9;;
}

.member .profile{
    width: 50px;
    height: 50px;
}

.member .profile img{
    width: 100%;
    height: 100%;
}

@media (min-width: 481px) and (max-width: 720px) {
    .mentor-page .mentor-card{
        background-color: white;
        position:relative;
        width:100%;
        max-width: 100%;
        height:310px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #006D77;
    }
}

@media (max-width: 480px) {
    .mentor-page .mentor-card{
        background-color: white;
        position:relative;
        width:100%;
        max-width: 100%;
        height:310px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #006D77;
    }
}