/* 제목 */
.title {
  text-align: center;
  font-size: 32px;
  padding: 20px 0;
  color: #4A4A4A;
}

/* 서치 폼 */
.search-form {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 750px;
  height: 45px;
  border: 3px solid #83C5BE;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 3px;
}

.search-form input[type="text"] {
  width: 90%;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
}

.search-form input[type="text"]:focus {
  outline: none;
}

.search-form button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #006D77;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

/* 전체 탭 스타일 */
.container {
  width: 100%;
  max-width: 875px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  border-radius: 5px;
  border: none;
  color: #fff;
}

ul.tabs {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  outline: none;
}

ul.tabs li {
  background-color: #83C5BE;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: calc(100%/3);
}

ul.tabs li.current {
  background: #006D77;
  width: 100%;
  max-width: calc(100%/3);
}

.tab-content {
  display: none;
  border-radius: 5px;
  background: #EDF6F9;
  padding: 15px;
}

.tab-content.current::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tab-content.current::-webkit-scrollbar-track {
  background-color: #EDF6F9;
  border-radius: 10px;
}

.tab-content.current::-webkit-scrollbar-thumb {
  background-color: #006d77;
  border-radius: 10px;
}

.tab-content.current {
  display: inherit;
  height: 250px;
  width: 100%;
  overflow: auto;
}

.tab-preview {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #83C5BE;
  max-width: 850px;
  margin: auto;
  text-align: left;
}


.btn-container {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.btn1,.btn2 {
  border-radius: 5px;
  width: 145px;
  height: 35px;
}

.btn1 {
  border: 1px, solid, #006D77;
  background-color: #fff;
}

.btn2 {
  border: 1px, solid, #006D77;
  background-color: #006D77;
  color: white;

}

/* 검색 결과 */
.results-container {
  border-radius: 5px;
  background-color: #EDF6F9;
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.results-container p {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.result-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.result-item h3 {
  font-size: 18px;
  color: #006D77;
}

.result-item p {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}

.result-item .view-details {
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #006D77;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 페이징 바 css */
.pagination {
  display: flex;
  justify-content: center;
}

.page-arrow, .page-num {
  margin: 0 10px;
  cursor: pointer;
  color: #006D77;
}

.page-num {
  padding: 0px 8px;
  border-radius: 25px;
}

.page-num.active {
  background-color: #006D77; 
  color: white;
}

.result-btn{
  border-radius: 5px;
  background-color: #83C5BE;
  border: none;
  margin-bottom: 15px;
}

/* 모달창 배경 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  z-index: 1000; /* 모달을 다른 내용 위로 올리기 */
  display: flex; /* Flexbox 사용하여 자식 요소 중앙 정렬 */
  justify-content: center; /* 수평 중앙 */
  align-items: center; /* 기본적으로 수직 중앙 정렬 */
}

/* 모달창 내용 */
.modal-content {
  position: absolute; /* 절대 위치 */
  top: 30%; /* 상단에서 30% 위치 */
  left: 50%; /* 좌측에서 50% 위치 */
  transform: translate(-50%, -30%); /* 정확히 중앙에 배치, 수직 위치 조정 */
  background-color: white;
  padding: 20px;
  max-width: 600px; /* 최대 너비 */
  width: 100%; /* 너비를 100%로 설정하여 부모 모달에 맞게 조정 */
  margin: 0 auto; /* 수평 중앙 정렬 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 모달 닫기 버튼 */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
