/* 제목 */
.title {
    text-align: center;
    font-size: 32px;
    padding: 20px 0;
}

/* 서치 탭 */
.search-form {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 750px;
    height: 45px;
    border: 3px solid #83C5BE;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 3px;
}

.search-form input[type="text"] {
    width: 90%;
    padding: 5px 10px;
}

.search-form input[type="text"]:focus {
    outline: none;
}

.search-form button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #006D77;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}


/* 분류 탭 */
.container{
    width: 500px;
    margin: 0 auto;
  }
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  ul.tabs li.current{
    background: #ededed;
    color: #222;
  }

